@import url("https://fonts.googleapis.com/css?family=Great+Vibes");
body {
  margin: 0;
  background: linear-gradient(black, #666);
  color: white;
}

.header {
  font-size: 1.3em;
  font-family: 'Great Vibes';
  text-align: center;
}

.title {
  margin-bottom: -40px;
}
