@import url("https://fonts.googleapis.com/css?family=Great+Vibes:300,500");
body {
  margin: 0;
  color: white;
  background-image: url('../assets/Bullseye-Gradient.svg');
  background-size: cover;
}

.header {
  font-size: 1.3em;
  font-family: 'Great Vibes';
  font-weight: 300;
  text-align: center;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
